:root{
    --screen-color:rgb(112, 104, 104);
    --answer-color:white;
    --app-color:#f2f2f2;
    --btn-orange:	#e49504;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    margin: 5rem auto;
    width: 40%;

}

.container{
    width: 100%;
    background-color: var(--app-color);

}
.answer-screen,.answer{
    width: 100%;
    height: 4rem;
    background-color: var(--screen-color);
    color:var(--answer-color);
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.answer:active{
    border: none;
}
.answer::placeholder{
    padding-left: 96%;
    color: var(--answer-color);
    font-size: 1.5rem;
    font-weight: 500;

}
.calculator-buttons{
    height: 25rem;
}
.row{
    height: 5rem;
    background-color: aqua;
    border-bottom: 1px solid rgb(221, 213, 213);
    border-left: 1px solid rgb(221, 213, 213);;

}
.btn{
    height: 100%;
    width: 25%;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.brn-gray{

}
.btn-orange{
    background-color: var(--btn-orange);
}
.btn-zero{
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
}
.btn-dot{
    height: 100%;
    width: 25%;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.btn-equal{
    height: 100%;
    width: 25%;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
}